/* Стиль контакты */

.contacts {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;

   &>div {
      border-radius: 5px;
      padding: 15px;
      border: 1px solid #d6f0ff;

      &:nth-child(1),
      &:nth-child(2) {
         background: #f5fbff;
      }

      &:nth-child(1) {
         grid-column-start: 1;
         grid-column-end: 3;

         &>div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
         }
      }
   }

   img {
      width: 40px;
   }

   h3 {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      font-weight: 400;
      font-size: 18px;
      display: grid;
      grid-template-columns: auto 40px;
      gap: 20px;
      align-items: center;
      border-bottom: 1px solid #d6f0ff;
   }
}

.map-yandex {
   border-radius: 5px;
   overflow: hidden;
   border: 1px solid #d6f0ff;
}

@media(max-width: 800px) {
   .contacts {
      grid-template-columns: repeat(1, 1fr);

      &>div:nth-child(1) {
         grid-column-start: 1;
         grid-column-end: 2;

         &>div {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;

            &>div {
               border-bottom: 1px solid #d6f0ff;
               margin: 0 0 10px 0;
               padding: 0 0 10px 0;

               &:last-child {
                  border: 0;
                  margin: 0;
                  padding: 0;
               }
            }
         }
      }
   }
}

/* Стиль контакты */