/* Стиль списка курса */
.courses-list {
   display: grid;
   gap: 10px;

   a {
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
      color: #2583bc;
      padding-left: 20px;
      position: relative;

      &:before {
         content: '−';
         font-weight: 700;
         position: absolute;
         left: 0;
      }

      &:last-child {
         margin-bottom: 0;
      }

      &:hover {
         color: #0090e7;
      }
   }
}

details {
   background-color: #fff;
   border-radius: 10px;
   padding: 15px 20px;
   border: 1px solid #8cc7ea;

   summary {
      position: relative;
      display: block;
      cursor: pointer;
      font-size: 21px;
      padding-right: 30px;

      &::-webkit-details-marker {
         display: none;
      }

      &::before,
      &::after {
         position: absolute;
         right: 0;
         top: -2px;
         font-size: 30px;
         font-family: "Material Icons";
      }

      &::before {
         content: "\e5cf";
         transition: all 0.3s ease 0s;
      }

   }

   &>div {
      border-top: 1px dotted #8cc7ea;
      margin-top: 10px;
      padding-top: 20px;
   }

}

details[open] {
   summary::before {
      transform: rotate(180deg);
   }
}

/* Стиль списка курса */