@charset "UTF-8";
/* Стиль адаптивной таблицы */
.request {
  background: #2583bc;
  border-radius: 6px;
  padding: 5px 10px;
  color: #fff;
}
.request:hover {
  background: #0090e7;
}

.table {
  display: grid;
  padding: 10px 15px;
  border: 1px solid #8cc7ea;
  border-radius: 10px;
  margin-bottom: 10px;
}
.table p {
  margin: 0 0 10px 0;
}
.table a {
  text-decoration: none;
}
.table small,
.table font {
  font-size: 13px;
  color: #67add6;
  white-space: nowrap;
}
.table div {
  align-self: center;
}

.table1 {
  grid-template-columns: 25% auto;
}
.table1 > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr) min-content;
}
.table1 > div:nth-child(2) div {
  padding: 12px 0;
}
.table1 > div:nth-child(2) div:nth-child(-n+3) {
  padding: 10px 0 0 0;
}
.table1 > div:nth-child(2) div:nth-child(n+4):nth-child(-n+6) {
  border-bottom: 1px dotted #8cc7ea;
}

.table2 {
  grid-template-columns: 25% repeat(2, 1fr) min-content;
}
.table2 > div {
  padding: 12px 0;
}
.table2 > div:nth-child(-n+4) {
  padding: 10px 0 0 0;
}
.table2 > div:nth-child(n+5):nth-child(-n+8) {
  border-bottom: 1px dotted #8cc7ea;
}

.table3 font,
.table3 span {
  display: none;
}
.table3 > div {
  display: grid;
  grid-template-columns: 25% repeat(4, 1fr) 100px;
}
.table3 > div div {
  padding: 10px 0;
}
.table3 > div:first-child div {
  padding: 0;
}
.table3 > div:nth-child(2) {
  border-bottom: 1px dotted #8cc7ea;
}

.table4 {
  grid-template-columns: 30% 20% auto;
  gap: 10px;
}
.table4 > div:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr) min-content;
}
.table4 > div:nth-child(3) div {
  padding: 12px 0;
}
.table4 > div:nth-child(3) div:nth-child(-n+3) {
  padding: 10px 0 0 0;
}
.table4 div:nth-child(n+4):nth-child(-n+6) {
  border-bottom: 1px dotted #8cc7ea;
}

.table5 > div:first-child {
  border: 0;
  padding: 0;
}
.table5 > div:last-child {
  border: 0;
}
.table5 > div {
  display: grid;
  grid-template-columns: 35% repeat(5, 1fr);
  gap: 10px;
  border-bottom: 1px dotted #8cc7ea;
  padding: 10px 0;
}

.new {
  background: #fabd1b;
  padding: 2px 6px;
  display: inline-block;
  border-bottom: 1px solid #cb9b1d;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 900px) {
  .table4 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .table4 > div:nth-child(3) {
    display: grid;
    grid-template-columns: 50% auto min-content;
  }
  .table5 > div {
    grid-template-columns: auto 50px;
  }
  .table5 > div > div {
    display: none;
  }
  .table5 > div > div:nth-child(-n+2) {
    display: block;
    align-self: stretch;
  }
}
@media (max-width: 800px) {
  .table1 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .table1 > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr auto min-content;
  }
  .table3 > div {
    grid-template-columns: repeat(2, 1fr) min-content;
    padding: 10px 0;
  }
  .table3 > div div {
    padding: 7px 0;
  }
  .table3 > div div:nth-child(3) {
    order: 4;
  }
  .table3 > div div:nth-child(4) {
    order: 5;
  }
  .table3 > div div:nth-child(5) {
    order: 6;
  }
  .table3 > div div:nth-child(6) {
    order: 3;
  }
  .table3 > div:first-child {
    display: none;
  }
  .table3 font {
    display: block;
    margin-bottom: 5px;
  }
  .table3 span {
    display: inline;
  }
}
/* Стиль адаптивной таблицы */
/* Стиль списка курса */
.courses-list {
  display: grid;
  gap: 10px;
}
.courses-list a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #2583bc;
  padding-left: 20px;
  position: relative;
}
.courses-list a:before {
  content: "−";
  font-weight: 700;
  position: absolute;
  left: 0;
}
.courses-list a:last-child {
  margin-bottom: 0;
}
.courses-list a:hover {
  color: #0090e7;
}

details {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid #8cc7ea;
}
details summary {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 21px;
  padding-right: 30px;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::before, details summary::after {
  position: absolute;
  right: 0;
  top: -2px;
  font-size: 30px;
  font-family: "Material Icons";
}
details summary::before {
  content: "\e5cf";
  transition: all 0.3s ease 0s;
}
details > div {
  border-top: 1px dotted #8cc7ea;
  margin-top: 10px;
  padding-top: 20px;
}

details[open] summary::before {
  transform: rotate(180deg);
}

/* Стиль списка курса */
/* Стиль фильтра */
.filter {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
}
.filter a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6f0ff;
  cursor: pointer;
  text-align: center;
}
.filter a:hover {
  border-color: #8cc7ea;
}
.filter a.current {
  background-color: #2583bc;
  color: #fff;
  border-color: #2583bc;
}

.flavors {
  display: grid;
  gap: 10px;
}

.about-course p {
  margin: 0 0 20px 0;
}

@media (max-width: 800px) {
  .filter {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter a:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
/* Стиль фильтра */
/* Стиль табов */
.tabs__caption {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  display: grid;
  gap: 10px;
}
.tabs__caption li:not(.active) {
  cursor: pointer;
}

.tabs__content {
  display: none;
}
.tabs__content.active {
  display: block;
}

.tabs-style-1 li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6f0ff;
  text-align: center;
}
.tabs-style-1 li:not(.active):hover {
  border-color: #8cc7ea;
}
.tabs-style-1 .active {
  background-color: #2583bc;
  color: #fff;
  border-color: #2583bc;
}

/* Стиль табов */
/* Стиль для образования */
.education-tab {
  grid-template-columns: repeat(2, 1fr);
}

.education-list {
  padding: 0;
  list-style-type: none;
  counter-reset: num;
}
.education-list li {
  display: grid;
  grid-template-columns: auto 80px;
  position: relative;
  border-bottom: 1px solid #8cc7ea;
  padding: 0 0 15px 20px;
  margin-bottom: 15px;
}
.education-list li:before {
  content: counter(num);
  counter-increment: num;
  position: absolute;
  left: 0;
  top: 0;
}
.education-list li > div:last-child {
  text-align: right;
}

@media (max-width: 600px) {
  .education-tab font {
    display: block;
  }
}
/* Стиль для образования */
.schedule {
  display: grid;
  grid-template-columns: auto 150px;
  gap: 40px;
}
.schedule > ul {
  grid-template-columns: repeat(4, 1fr);
}
.schedule > div {
  background-color: #d6f0ff;
  margin: 0 0 20px 0;
  padding: 4px;
  border-radius: 5px;
}
.schedule label {
  position: relative;
}
.schedule label::before {
  font-family: "Material Icons";
  content: "\e5cf";
  position: absolute;
  right: 5px;
  top: 4px;
}
.schedule label select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  appearance: none;
  cursor: pointer;
}

.inner {
  display: none;
}
.inner.active {
  display: block;
}

@media (max-width: 800px) {
  .schedule {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .schedule > ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .schedule .tabs__caption {
    margin: 0;
  }
}
/* Стиль для акций */
.stocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.stocks > div {
  border: 1px solid #d6f0ff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.stocks > div > div:nth-child(1) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
.stocks > div > div:nth-child(2) {
  align-self: center;
  padding: 20px;
}
.stocks img {
  display: block;
  width: 100%;
  overflow: hidden;
}
.stocks p {
  margin: 0 0 15px 0;
}
.stocks p:first-child {
  font-size: 18px;
  font-weight: 700;
}
.stocks p:last-child {
  margin: 0;
}

@media (max-width: 900px) {
  .stocks {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .stocks > div {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Стиль для акций */
body {
  font-family: "PT Sans", sans-serif;
}

section {
  padding: 60px 0;
}
section > div {
  margin: 0 auto;
  width: 100%;
  max-width: 1332px;
}

.link1 {
  color: #2583bc;
  text-decoration: none;
}
.link1:hover {
  color: #0090e7;
}

.m-b-30 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
}

.ul1 {
  padding-left: 17px;
}/*# sourceMappingURL=style.css.map */