@import "tables";
@import "courses-list";
@import "filter";
@import "tabs";
@import "education";
@import "schedule";

body {
   font-family: 'PT Sans', sans-serif;
}

section {
   padding: 60px 0;

   &>div {
      margin: 0 auto;
      width: 100%;
      max-width: 1332px;
   }
}

.link1 {
   color: #2583bc;

   &:hover {
      color: #0090e7;
   }
}

.m-b-30 {
   margin-bottom: 30px;
}

.grid {
   display: grid;
}